<div data-role="page" id="main">
	<div data-role="header">
		<h1>PNR</h1>
	</div><!-- /header -->
	
	<div data-role="content">	
		<p><a href="work/new" rel="external" data-transition="pop" data-icon="plus" data-role="button" >Crear nueva operativa</a></p>
		<p><a href="work/" rel="external" data-transition="pop" data-icon="grid" data-role="button" >Ultimas operativas</a></p>
	</div><!-- /content -->
	
	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>
