<div data-role="page" id="newop">

	<div data-role="header">
		<h1>Nueva Operativa</h1>
	</div><!-- /header -->

	<div data-role="content">
		<a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a>		
		<form accept-charset="UTF-8" action="/work/create" method="post" data-ajax="false">
			<div data-role="fieldcontain">
				<label for="plane" class="select">Elige el tipo de avion:</label>
				<select name="plane" id="plane">
					<option value="737-300F">737-300F</option>
					<option value="737-400SF">737-400SF</option>
					<option value="757">757</option>
					<option value="A320">A320</option>
				</select>
			</div>
			
			<div><%= submit_tag 'Guardar' %></div>
		</form>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>